{% extends "base.html" %}
{% load static %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" href="{% url "create_task" %}">Новая задача</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url "update_task"  task.pk %}">Изменение задачи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url "delete_task" task.pk %}">Удаление задачи</a>
    </li>
{% endblock %}


{% block content %}
<p>
    Задача: {{ task.task }}
</p>
  <p>
    Статус: {{ task.get_status_t_display }}
  </p>
    <p>
    Описание: {{ task.description}}
    </p>
<p>
    Дата: {{ task.date_of_completion }}
</p>
<p><a href="{% url "index" %}">На главную</a></p>

{% endblock %}
